<div class="job-card-page">

  <div class="job-card-header">
    <div>
      <h2>CREATE NEW JOB CARD</h2>
      <p>Create a new job card by entering vehicle, customer and job details.</p>
    </div>

<!--    <button type="button" class="close-btn" (click)="onCancel()" aria-label="Close">×</button>-->
  </div>

  <form [formGroup]="jobCardForm" (ngSubmit)="onSubmit()">

    <div class="form-layout">

      <div class="form-column">

        <section class="form-section">
          <h3>1. VEHICLE ENTRY TYPE</h3>

          <div class="form-group">
            <label>Vehicle Registration Status <span class="required">*</span></label>

            <select formControlName="vehicleRegStatus" class="dropdown-search-input">
              <option value="registered">Registered Vehicle</option>
              <option value="unregistered">Unregistered Vehicle</option>
            </select>
          </div>

          <div class="form-group search-transition" *ngIf="isUnregistered">
            <label>Search Vehicle (VIN No):</label>

            <div class="search-input-wrapper">
              <input type="text" formControlName="unRegVehicleSearch" placeholder="Type Vehicle VIN No..." class="flex-1" (input)="toUpperCase('unRegVehicleSearch')">

              <button type="button" class="btn-search-action" (click)="onUnRegVehicleSearchClick()" [disabled]="isSearchingUnRegVehicle">
                <span *ngIf="isSearchingUnRegVehicle" class="buttonSpinner"></span>
                {{ isSearchingUnRegVehicle ? 'Searching...' : 'SEARCH' }}
              </button>
            </div>

            <div *ngIf="isInvalid('unRegVehicleSearch')" class="error-msg">Search Vehicle VIN No is required.</div>

            <div *ngIf="jobCardForm.get('unRegVehicleSearch')?.valid && vehicleNotFound" class="warning-msg">
              No record found for VIN number "{{ jobCardForm.get('unRegVehicleSearch')?.value }}".
            </div>

            <div *ngIf="jobCardForm.get('unRegVehicleSearch')?.valid && vehicleFound" class="success-msg">
              Vehicle found successfully for VIN number "{{ jobCardForm.get('unRegVehicleSearch')?.value }}".
            </div>
          </div>

          <div class="form-group search-transition" *ngIf="!isUnregistered">
            <label>Search Vehicle (Reg No):</label>

            <div class="search-input-wrapper">
              <input type="text" formControlName="vehicleSearch" placeholder="Type Vehicle Reg No..." class="flex-1" (input)="toUpperCase('unRegVehicleSearch')">

              <button type="button" class="btn-search-action" (click)="onVehicleSearchClick()" [disabled]="isSearchingRegVehicle">
                <span *ngIf="isSearchingRegVehicle" class="buttonSpinner"></span>
                {{ isSearchingRegVehicle ? 'Searching...' : 'SEARCH' }}
              </button>
            </div>

            <div *ngIf="isInvalid('vehicleSearch')" class="error-msg">Search Vehicle Reg No is required.</div>

            <div *ngIf="jobCardForm.get('vehicleSearch')?.valid && vehicleNotFound" class="warning-msg">
              No record found for registration number "{{ jobCardForm.get('vehicleSearch')?.value }}".
            </div>

            <div *ngIf="jobCardForm.get('vehicleSearch')?.valid && vehicleFound" class="success-msg">
              Vehicle found successfully for registration number "{{ jobCardForm.get('vehicleSearch')?.value }}".
            </div>
          </div>
        </section>

        <section class="form-section">
          <h3>2. VEHICLE SPECS</h3>

          <div class="grid-2-col">

            <div class="form-group">
              <label>Vehicle Reg No. <span class="required">*</span></label>
              <input type="text" formControlName="vehicleRegNo" placeholder="CBN-9081" readonly>
              <div *ngIf="isInvalid('vehicleRegNo')" class="error-msg">Vehicle registration number is required.</div>
            </div>

            <div class="form-group">
              <label>VIN No. <span class="required">*</span></label>
              <input type="text" formControlName="vehicleVinNo" placeholder="85685689081" readonly>
              <div *ngIf="isInvalid('vehicleVinNo')" class="error-msg">Vehicle VIN number is required.</div>
            </div>

            <div class="filter-group">
              <app-search-dropdown formControlName="make" label="Make" bindLabel="name" bindValue="makeId" [data]="makeList" [showAllOption]="false" errorMessage="Please select a make."></app-search-dropdown>
            </div>

            <div class="filter-group">
              <app-search-dropdown formControlName="model" label="Model" bindLabel="name" bindValue="id" [data]="modelList" [showAllOption]="false" errorMessage="Please select a model."></app-search-dropdown>
            </div>

            <div class="filter-group">
              <app-dropdown formControlName="year" label="Year" [data]="yearList" [showAllOption]="false" errorMessage="Please select a year."></app-dropdown>
              <div *ngIf="isInvalid('year')" class="error-msg">Year is required.</div>
            </div>

            <div class="filter-group">
              <app-dropdown formControlName="colour" label="Color" [data]="vehicleColourList" [showAllOption]="false" errorMessage="Please select a vehicle color."></app-dropdown>
            </div>

          </div>

          <div class="form-group">
            <label>Other Specs</label>
            <input type="text" formControlName="otherSpecs" placeholder="1.5L Engine, AWC" [readonly]="isExistingVehicle">
          </div>
        </section>

      </div>

      <div class="form-column">

        <section class="form-section">
          <h3>3. CUSTOMER INFO</h3>

          <div *ngIf="!isExistingVehicle" class="form-group search-transition">
            <label>Search Customer:</label>

            <div class="search-input-wrapper">
              <input type="text" formControlName="customerSearch" placeholder="Type Customer Contact Number...">

              <button type="button" class="btn-search-action" (click)="onCustomerSearchClick()" [disabled]="isSearchingCustomer">
                <span *ngIf="isSearchingCustomer" class="buttonSpinner"></span>
                {{ isSearchingCustomer ? 'Searching...' : 'SEARCH' }}
              </button>
            </div>

            <div *ngIf="isInvalid('customerSearch')" class="error-msg">Search contact number is required.</div>

            <div *ngIf="jobCardForm.get('customerSearch')?.valid && customerNotFound" class="warning-msg">
              No record found for contact number "{{ jobCardForm.get('customerSearch')?.value }}".
            </div>

            <div *ngIf="jobCardForm.get('customerSearch')?.valid && customerFound" class="success-msg">
              Customer found successfully for contact number "{{ jobCardForm.get('customerSearch')?.value }}".
            </div>
          </div>

          <div class="grid-2-col">

            <div class="form-group">
              <label>Customer Name <span class="required">*</span></label>
              <input type="text" formControlName="customerName" placeholder="Enter full name" [readonly]="isExistingVehicle || isExistingCustomer">
              <div *ngIf="isInvalid('customerName')" class="error-msg">Customer name is required.</div>
            </div>

            <div class="form-group">
              <label>Email Address <span class="required">*</span></label>
              <input type="text" formControlName="email" placeholder="example@domain.com" [readonly]="isExistingVehicle || isExistingCustomer">

              <div *ngIf="isInvalid('email')" class="error-msg">
                <span *ngIf="jobCardForm.get('email')?.errors?.['required']">Email is required.</span>
                <span *ngIf="jobCardForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
              </div>
            </div>

            <div class="form-group">
              <label>Contact Number <span class="required">*</span></label>
              <input type="text" formControlName="contactNumber" placeholder="[ e.g., +94 77 123 4567 ]" readonly>
              <div *ngIf="isInvalid('contactNumber')" class="error-msg">Contact number is required.</div>
            </div>

            <div class="form-group">
              <label>Driving License Number</label>
              <input type="text" formControlName="drivingLicenseNumber" placeholder="[ e.g., 199012345678 ]" [readonly]="isExistingVehicle || isExistingCustomer">
            </div>

          </div>

          <div class="form-group">
            <label>Customer Complaint/Issue <span class="required">*</span></label>
            <textarea formControlName="complaint" rows="4" placeholder="Describe issue here..."></textarea>
            <div *ngIf="isInvalid('complaint')" class="error-msg">Please specify the customer complaint.</div>
          </div>
        </section>

        <section class="form-section">
          <h3>4. JOB DETAILS & CHECKLIST</h3>

          <div class="form-group-stack">

            <app-multi-select-dropdown label="Select Labor Activity:" [formControl]="repairLaborActivitiesSelectedControl" [data]="laborActivityNameProjection" bindLabel="activityName" bindValue="laborActivityId" errorMessage="Please select at least one repair activity."></app-multi-select-dropdown>

            <div class="form-group">
              <label>Current Mileage <span class="required">*</span></label>

              <input type="text" formControlName="currentMileage" inputmode="numeric" pattern="[0-9]*">

              <div *ngIf="jobCardForm.get('currentMileage')?.hasError('required') && jobCardForm.get('currentMileage')?.touched" class="error-msg">
                Current mileage is required.
              </div>

              <div *ngIf="jobCardForm.get('currentMileage')?.hasError('pattern') && jobCardForm.get('currentMileage')?.touched" class="error-msg">
                Current mileage must contain numbers only.
              </div>
            </div>

            <app-multi-select-dropdown label="Assigned Technician:" [formControl]="assignedTechniciansSelectedControl" [data]="technicianNameProjection" bindLabel="technicianName" bindValue="technicianId" errorMessage="Please select at least one technician."></app-multi-select-dropdown>

          </div>
        </section>

      </div>

    </div>

    <div class="form-footer">
      <button type="button" class="btn-cancel" (click)="onBack()">BACK</button>

      <button type="submit" class="btn-submit" [disabled]="isSubmitting">
        <span *ngIf="isSubmitting" class="buttonSpinner"></span>
        {{ isSubmitting ? 'GENERATING...' : 'GENERATE' }}
      </button>
    </div>

  </form>
</div>
