<div class="page-header">
  <div class="card-container user-form-container">

    <div class="filter-card-header user-form-header">
      <div class="filter-title-wrapper">
        <span class="filter-title-icon">👤</span>
        <h3>CREATE NEW USER</h3>
      </div>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="user-form-grid">

        <!-- Username -->
        <div class="filter-group">
          <label>
            Username <span class="required">*</span>
          </label>

          <input
            class="user-form-input"
            type="text"
            formControlName="username"
            placeholder="e.g. johndoe">

          <div *ngIf="isInvalid('username')" class="error-msg">

            <span *ngIf="userForm.get('username')?.hasError('required')">
              Username is required.
            </span>

            <span *ngIf="userForm.get('username')?.hasError('minlength')">
              Username must be at least 3 characters.
            </span>

            <span *ngIf="userForm.get('username')?.hasError('maxlength')">
              Username cannot exceed 20 characters.
            </span>

            <span *ngIf="userForm.get('username')?.hasError('pattern')">
              Username can contain only letters, numbers, underscores, dots, and hyphens.
            </span>

          </div>
        </div>

        <!-- Password -->
        <div class="filter-group">
          <label>
            Password <span class="required">*</span>
          </label>

          <input
            class="user-form-input"
            type="password"
            formControlName="password"
            placeholder="Enter password">

          <div *ngIf="isInvalid('password')" class="error-msg">

            <div *ngIf="userForm.get('password')?.hasError('required')">
              Password is required.
            </div>

            <div *ngIf="userForm.get('password')?.hasError('minlength')">
              Password must be at least 8 characters.
            </div>

            <div *ngIf="userForm.get('password')?.hasError('maxlength')">
              Password must not exceed 30 characters.
            </div>

            <div *ngIf="userForm.get('password')?.hasError('pattern')">
              Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.
            </div>

          </div>
        </div>

        <!-- Full Name -->
        <div class="filter-group">
          <label>
            Full Name <span class="required">*</span>
          </label>

          <input
            class="user-form-input"
            type="text"
            formControlName="fullName"
            placeholder="e.g. John Doe">

          <div *ngIf="isInvalid('fullName')" class="error-msg">
            Name is required.
          </div>
        </div>

        <!-- Speciality -->
        <div class="filter-group">
          <label>Speciality</label>

          <input
            class="user-form-input"
            type="text"
            formControlName="speciality"
            placeholder="e.g. Customer Relationship">
        </div>

        <!-- User Role -->
        <div class="filter-group user-role-field">

          <app-multi-select-dropdown
            label="User Role:"
            [formControl]="userRoleSelectedControl"
            [data]="rolesList"
            bindLabel="roleName"
            bindValue="roleId"
            errorMessage="Please select at least one user role.">
          </app-multi-select-dropdown>

        </div>

        <!-- Status -->
        <div class="filter-group active-field">

          <label>Status</label>

          <label class="active-checkbox">

            <input
              type="checkbox"
              formControlName="active">

            <span>Active Account</span>

          </label>

        </div>

      </div>

      <!-- Footer -->
      <div class="user-form-footer">

        <button
          type="button"
          class="btn-filter-reset"
          (click)="onCancel()">
          BACK
        </button>

        <button
          type="submit"
          class="btn-add"
          [disabled]="isSubmitting">

          <span
            *ngIf="isSubmitting"
            class="buttonSpinner">
          </span>


          {{ isSubmitting ? 'SUBMITTING...' : 'SUBMIT' }}

        </button>

      </div>

    </form>

  </div>
</div>
