.search-icon {
  position: absolute;
  left: 90%;
  color: #757575;
  font-size: 0.85rem;
  pointer-events: none;
}
.desktop-only {
  display: table-cell;
}

.no-data-cell {
  text-align: center;
  padding: 30px;
  color: #757575;
  font-style: italic;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .desktop-only {
    display: none;
  }
}
