<div class="page-header">
  <div class="card-container">

    <div class="table-header" [formGroup]="filterForm">
      <div class="actions-right">
        <div class="search-box">
          <span class="search-icon">🔍</span>
          <input type="text" placeholder="Search Labor Activities..." (input)="onSearch($event)">
        </div>

        <button class="btn-add" type="button" (click)="onAddLaborActivity()">
          <span class="icon-plus" aria-hidden="true">+</span> ADD Labor Activity
        </button>
      </div>
            <!-- 1. Item Dropdown Filter -->
      <div class="filter-group">
        <app-dropdown
          formControlName="laborActivity"
          label="Labor Activity Name"
          bindLabel="activityName"
          bindValue="laborActivityId"
          [data]="laborActivityNameProjection"
          placeholder="All Labor Activities"
          errorMessage="Please select an Activity."
        >
        </app-dropdown>
      </div>
    </div>

    <div class="table-responsive">
      <table class="custom-table">
        <thead>
        <tr>
          <th>Labor Activity Name</th>
          <th>Status</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="isLoading">
          <td colspan="7" class="table-loader-cell">
            <div class="table-loader">
              <span class="spinner"></span>
              <span>Loading job cards...</span>
            </div>
          </td>
        </tr>

        <tr *ngIf="!isLoading && (!laborActivities || laborActivities.length === 0)">
          <td colspan="7" style="text-align: center; padding: 30px; color: #757575; font-style: italic;">
            No labor Activities found matching current filter parameters.
          </td>
        </tr>
        <tr *ngFor="let laborActivity of laborActivities" [class.loading-hidden]="isLoading">
          <td class="font-semibold">{{ laborActivity.activityName }}</td>
          <td class="font-semibold">
              <span class="badge" [ngClass]="{
                'badge-completed': laborActivity.active,
                'badge-cancelled': !laborActivity.active,
              }">
               {{ setActiveInactive(!!laborActivity.active) }}
              </span>
          </td>
          <td class="actions-cell">
            <button class="btn-table-action view-btn" (click)="viewLaborActivity(laborActivity.laborActivityId)">👁️</button>
            <button class="btn-table-action edit-btn" (click)="editLaborActivity(laborActivity.laborActivityId)">✏️</button>
<!--            <button class="btn-table-action delete-btn" (click)="deleteLaborActivity(laborActivity.laborActivityId)">🗑️</button>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-footer-summary custom-footer-layout">

      <div class="record-counter left-counter-anchor">
        Showing {{ laborActivities?.length || 0 }} of <strong>{{ totalElements || 0 }}</strong> total entries
      </div>

      <div class="pagination-group-wrapper right-controls-group">

        <div class="select-box footer-select">
          <label>Show:</label>
          <select (change)="onPageSizeChange($event)" [value]="pageSize">
            <option *ngFor="let size of pageSizes" [value]="size">{{ size }} rows</option>
          </select>
        </div>

        <div class="pagination">
          <button class="page-nav" [disabled]="currentPage === 1" (click)="goToPage(1)">|<</button>
          <button class="page-nav" [disabled]="currentPage === 1" (click)="prevPage()"><</button>

          <span class="page-indicator">
            Page <strong>{{ totalPagesCount === 0 ? 0 : currentPage }}</strong> of {{ totalPagesCount }}
          </span>

          <button class="page-nav" [disabled]="currentPage >= totalPagesCount" (click)="nextPage()">></button>
          <button class="page-nav" [disabled]="currentPage >= totalPagesCount" (click)="goToPage(totalPagesCount)">>|</button>
        </div>

      </div>
    </div>

  </div>
</div>
<app-labor-activity-form *ngIf="isAddModalOpen" (cancel)="closeModal()"></app-labor-activity-form>

<app-labor-activity-view-and-edit *ngIf="isEditModalOpen || isViewModalOpen" [laborActivity]="laborActivity" (cancel)="closeModal()"></app-labor-activity-view-and-edit>
